springdoc:
  swagger-ui:
    path: /docs
    display-request-duration: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    deep-linking: true
    syntax-highlight:
      activated: true
    default-models-expand-depth: 1
    default-model-expand-depth: 1
    doc-expansion: none
  api-docs:
    path: /api-docs

spring:
  jpa:
    defer-datasource-initialization: true
